<form action="/lists/" method="post">

    <input type="text" name="name" placeholder="list name...">

    <label for="public">public list</label>
    <input type="checkbox" name="public" id="public">

    <button type="submit">Add list</button>
</form>