<div class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
    <a class="navbar-brand title-font" href="/"><span>M</span>otion <span>P</span>icture</a>
    <h1>sss</h1>
    {{!-- Search box --}}
    <form class="form-inline m-auto" action="/media/search" method="get">
        <div class="input-group mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <input class="form-control" type="text" name="title" id="title" placeholder="Search...">
        </div>

        <select class="custom-select" name="type" id="type">
            <option value="movie">Movies</option>
            <option value="tv">TV Shows</option>
        </select>

        <input type="submit" />

    </form>

    <div class="btn-group dropleft">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-user"></i>
        </button>
        <div class="dropdown-menu {{#if cachedUser.isAnonymous}} {{else}}pb-0{{/if}}">
            <!-- Dropdown menu links -->
            {{#if cachedUser.isAnonymous}}
            <a class="dropdown-item" href="/register">Register</a>
            <a class="dropdown-item" href="/login">Login</a>
            {{else}}
            <a class="dropdown-item" href="/users/{{cachedUser.nickname}}">
                <i class="fas fa-grin-squint mr-2"></i>
                Profile
            </a>
            <a class="dropdown-item" href="/users/{{cachedUser.nickname}}/lists/add">
                <i class="fas fa-plus mr-2"></i>
                Add List
            </a>
            <div class="dropdown-divider mb-0"></div>

            <form action="/logout" method="post">
                <button class="btn btn-danger w-100" type="submit">
                    <i class="fas fa-sign-out-alt"></i>
                    Logout
                </button>
            </form>
            {{/if}}

        </div>
    </div>

</div>