<div class="m-auto container d-flex flex-column align-items-center">
    <div class="alert alert-danger flex-grow-1" role="alert">
        {{error.message}}
    </div>
    <img class="flex-grow-1" width="75%" src="/images/404-page-04.png" alt="">
</div>