<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h1>{{name}}</h1>

<a href="/users/signup" rel="noopener noreferrer">Sign up</a>
<a href="/users/signin" rel="noopener noreferrer">Sign in</a>

<form action="/users/signout" method="post">
    <button type="submit">Logout</button>
</form>

<a href="/lists/add">Add List</a>