<h1>Sign in page</h1>

<form action="/users/signin" method="post">

    <input type="text" name="input" placeholder="email / nickname">
    <input type="password" name="password" placeholder="password">

    <button type="submit">Submit</button>
</form>