@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
  font-family: 'Open Sans', sans-serif;
}

.custom-select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5; 
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4; 
}

.section-title{
  padding: 5px;
  background: white;
}

.media-section{
  background: #E5E5E5;
}