@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
  font-family: 'Open Sans', sans-serif;
}

.custom-select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}